/* home */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 250px);
  gap: 20px;
}

.header {
  font-size: 1em;
  grid-column-start: 1;
  grid-column-end: 9;
  padding: 15px;
  grid-row-start: 1;
  grid-row-end: 2;
  color: #000;
  font-family: roboto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
}

.carousel slide {
  background-color: rgb(0, 255, 255);
}

.h1 {
  background-color: #1e00ca;
}

.p {
  background-color: #a64eff;
}

.p1 {
  background-color: rgba(255, 0, 128, 0.533);
}

.box {
  background-color: rgba(9, 118, 228, 0.6);
}

.footer {
  background-color: rgb(250, 233, 0);
}

/* navbar */

.nav-link {
  display: inline-block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: rgb(209 12 12 / 65%);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
body {
  color: red;
}

/* setup */
